.vscode/**
.vscode-test/**
icon.svg
src/**
test/**
tests/**
out/**/*.map
**/*.ts
**/tsconfig.json
esbuild.mjs
.gitignore
.eslintrc*
tsconfig.json
**/*.test.*
node_modules/**
!out/extension.cjs
!schema/mcpcheck.schema.json
!snippets/mcp-servers.code-snippets
